.jumbotron {
  background: #BCED91;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #84BE6A;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -30px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 40%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 50px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
    .body,
     html {
     margin:100;
    padding:50;color:#000;
    background:#BCED91;
    margin-top: -1px;
     }
    
    .col-md-6 p {
    
    }

